
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background:#F9F5E7;
}

header {
  font-family: ambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  padding: 1em;
  background-color: #F9F5E7;
  font-size: 1.5em;
  color:#4E2209;
}
header h1{
  font-family:ambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  color: #4a2c1d;
  margin-bottom: 10px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 30px;
  justify-items: center;
}

.product {
  padding: 15px;
  border: 5px solid #F9F5E7;
  border-radius: 20px;
  text-align: center;
  width: 200px;
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

button.add-to-cart {
  margin-top: 2px;
  padding: 15px 20px;
  background-color:#4E2209;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  
}
button.add-to-cart:hover{
  color: #F9F5E7;
  padding: 15px 20px;
  font-size:90%;
  transition:0.3s;
}
.product-img {
  transition: transform 0.3s ease;
}

.product:hover .product-img {
  transform: scale(1.1);
}

